// AX_ROOT, AX_PLATFORM, AX_PROJECT, & AX_CONFIGURATION must be declared before this file is included

CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

AX_IOS_SDK = iphoneos
AX_OSX_SDK = macosx

SDKROOT = $($(AX_PLATFORM)_SDK)

AX_IOS_VALID_ARCS = arm64 arm
AX_OSX_VALID_ARCS = x86_64

VALID_ARCHS = $($(AX_PLATFORM)_VALID_ARCS)

AX_IOS_LHS_DEPLOYMENT = IPHONEOS_DEPLOYMENT_TARGET
AX_OSX_LHS_DEPLOYMENT = MACOSX_DEPLOYMENT_TARGET
AX_IOS_RHS_DEPLOYMENT = 8.0
AX_OSX_RHS_DEPLOYMENT = 10.9

// $($(AX_PLATFORM)_LHS_DEPLOYMENT) = $($(AX_PLATFORM)_RHS_DEPLOYMENT)

MACOSX_DEPLOYMENT_TARGET = $($(AX_PLATFORM)_RHS_DEPLOYMENT)


AX_IOS_COMMON_SWITCHES = PNG_ARM_NEON_OPT=0 PNG_ARM_NEON_IMPLEMENTATION=1 $(inherited)
AX_OSX_COMMON_SWITCHES = __CL_ENABLE_EXCEPTIONS $(inherited)

GCC_PREPROCESSOR_DEFINITIONS = $($(AX_PLATFORM)_COMMON_SWITCHES) $(AX_PROJECT)_BUILD

AX_IOS_LD_DYLIB_INSTALL_NAME = @executable_path/../Frameworks
AX_OSX_LD_DYLIB_INSTALL_NAME = @executable_path/../Frameworks

//LD_DYLIB_INSTALL_NAME = $($(AX_PLATFORM)_LD_DYLIB_INSTALL_NAME)
INSTALL_PATH = $($(AX_PLATFORM)_LD_DYLIB_INSTALL_NAME)










